<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/khadamatlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/khadamatlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile_Project_HZA2M">
        <activity
            android:name=".OgeroServiceUserActivity"
            android:exported="false"
            android:theme="@style/Theme.Mobile_Project_HZA2M" />
        <activity
            android:name=".OgeroServiceProviderActivity"
            android:exported="false"
            android:theme="@style/Theme.Mobile_Project_HZA2M" />
        <activity
            android:name=".TuitionServiceUserActivity"
            android:exported="false"
            android:theme="@style/Theme.Mobile_Project_HZA2M" />
        <activity
            android:name=".TuitionServiceProviderActivity"
            android:exported="false"
            android:theme="@style/Theme.Mobile_Project_HZA2M" />
        <activity
            android:name=".AddServiceActivity"
            android:exported="false" />
        <activity
            android:name=".MyWalletActivity"
            android:exported="false"
            android:parentActivityName=".DisplayServicesActivity"
            android:theme="@style/Theme.Mobile_Project_HZA2M" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="false"
            android:parentActivityName=".DisplayServicesActivity"
            android:theme="@style/Theme.Mobile_Project_HZA2M" />
        <activity
            android:name=".MyProfileActivity2"
            android:exported="false"
            android:parentActivityName=".DisplayServicesActivity" />
        <activity
            android:name=".MyWalletActivity2"
            android:exported="false"
            android:parentActivityName=".DisplayServicesActivity" />
        <activity
            android:name=".DisplayServicesActivity"
            android:exported="false"
            android:theme="@style/Theme.Mobile_Project_HZA2M" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>